[Desktop Entry]
Name=Mt. Sync
Comment=GTK4 frontend to rclone
Exec=mtsync
Icon=com.mtsync.MtSync
Type=Application
Categories=Utility;Network;FileTransfer;
StartupWMClass=mtsync
