[Desktop Entry]
Name=Mt. Sync
Comment=Mount or sync cloud storage in comfort
Exec=mtsync
Icon=com.mtsync.MtSync
Type=Application
Categories=Utility;Network;FileTransfer;
StartupWMClass=com.mtsync.MtSync
